.contactMessage, .contactSocial {
    width: calc(50% - 10px);
    button, a {
        font-family: $primaryFont;
        font-size: 1.7rem;
    }
}


.contactSocial {
    margin-right: 10px;

    h3 {
        margin-bottom: 10px;
    }
    
    .contactEmail {
        margin-bottom: 10px;
        p {
            margin-right: 10px;
        }
    }

    .socialBar

    .contactBooking {
        margin-left: 10px;
    }
}

                                .contactMessage {
                                }