.contactContainer {
    h3 {
    font-family: $secondaryFont;
        font-weight: 100;
        font-size: 1.8rem;
}
}

.contactMessage, .contactSocial {
    width: calc(50% - 10px);
    button, a {
        font-family: $primaryFont;
        font-size: 1.7rem;
    }
}



.contactSocial a, .contactBooking, .copyEmail, .sendMessage {
            padding: 10px;
            margin: 10px;
            background-color: $normalButton;
            color: $normalFont;
            transition: all 0.3s;
            border-radius: 5px;
            &:hover, &:focus {
                background-color: $activeButton;
                color: $activeFont;
            }
}

.copyEmail {
    width: 40px;
    height: 40px;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.contactSocial {
    margin-right: 10px;

    h3 {
        margin-bottom: 10px;
    }
    
    .contactEmail {
        margin-bottom: 10px;
        p {
            height: 40px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #ebebeb;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }

    .connectSocialBar {
        a{
            padding: 13px;
            font-size: 2.5rem;
            border-radius: 50%;
            
        }
    }

    .contactBooking {
        i {
            margin-left: 10px;
        }
    }
}


textarea, .messageName, .messageEmail{
    font-size: 1.6rem;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid $normalButton;
    resize: none;
    overflow: auto;
} 

textarea {
    height:  130px;
}


.contactMessage {
    li {
        width: 100%;
    }
    h3 {
        margin-bottom: 15px;
    }
}