@keyframes circuitRun {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}

header {
    height: 100vh;
    position: relative;
    .headerBG {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &:before {
            content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(60, 145, 230, 0.767) 0%,#CBDDEF 100%);
    z-index: 1;
        }


        .circuitBoard {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200%;
            img {
                
                max-height: 500%;
                height: 200%;
                max-width: 500%;
            }
            animation: circuitRun 40s linear infinite;
        }
    }
}

nav {
        width: 100%;
        position: fixed;
        z-index: 2;
        background-color: $normalButton;
        top: 0;
        transition: all 0.3s ease-in-out;
    }
nav ul{

    li {
        height: 100%;
    }

    li a{   
        color: white;
        transition: all 0.3s;
        height: 100%;
        padding: 10px 20px;
        font-size: 2.4rem;
        &:hover, &:focus{
            background-color: $activeButton;
            color: $activeFont;
        }
    }
}

.toggleMenu {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    i {
        font-size: 5rem;
        color: white;
    }
}

.titleCard {
    box-shadow: none;
    background: linear-gradient(180deg, rgba(255,255,255,0.7386834562926733) 50%, rgba(60,145,230,0) 100%);
    max-width: 700px;
    flex-direction: column;
    h2 {
        margin-top: 20px;
        font-weight: 500;
    }
    .scrollDown {
        width: 45px;
        height: 54px;
        position: relative;
        font-size: 3.2rem;
        transition: all 0.3s;
        border: 2px solid $normalButton;
        border-radius: 20px;
        &:hover, &:focus {
            color: $accent;
        }

        @keyframes bounce {
            40% {transform:translatey(0)}
            80%{transform:translatey(10px)}
            100%{transform:translatey(0)}
        }

        i {
            animation: bounce 1.55s cubic-bezier(.49,-0.26,.5,.86) infinite;
            position: absolute;
            top: 55%;
            left: 50%;
            margin-left: -14px;
            margin-top: -16px;
        }
    }
    .socialBar {
        
    width: 40%;
    justify-content: space-evenly;
    margin: 15px;
    font-size: 3rem;
    color: black;
        li{
            
            border-radius: 50%;
            height: 45px;
            width: 45px;
            overflow: hidden;
            a {
                background-color: $normalButton;
                width: 100%;
                height: 100%;
                font-size: 1.9rem;
                color: white;
                transition: all 0.3s;
                outline: none;
                &:hover, &:focus {
                    background-color: $activeButton;
                    color: $activeFont;
                }
            }
        }
}
}