header, .social-bar {
    display: flex;
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1, h2, p {
     text-align: center;
     font-family: 'Bebas Neue', cursive;
     font-family: 'Press Start 2P', cursive;
     font-family: 'Bungee Shade', cursive;
     color: black;
     margin: 15px 0;
     letter-spacing: 2px;
    }
    h1 {
     font-size: 8rem;
    }

    h2 {
        font-size: 6rem;
    }
    p {
        font-size: 3rem;
    }

}

.social-bar {
    width: 40%;
    justify-content: space-evenly;
    margin: 30px auto;
   font-size: 3rem;
   color: black;
}