.landingDivider {
    width: 100%;
    height: 60vh;
    padding-top: 100px;
}

.landingLowerHalf {
    flex-direction: column;
    h1 {
        font-family: $secondaryFont;
        font-size: 4rem;
        font-weight: 100;
    }
    h2 {
        margin-top: 20px;
    }
    .scrollDown {
        font-size: 3rem;
        transition: all 0.3s;
        &:hover, &:focus {
            scale: 1.2;
            color: $accent;
        }
    }
    .social-bar {
        li{
            
            border-radius: 50%;
            height: 45px;
            width: 45px;
            overflow: hidden;
            a {
                background-color: $normalButton;
                width: 100%;
                height: 100%;
                font-size: 1.9rem;
                color: white;
                transition: all 0.3s;
                outline: none;
                &:hover, &:focus {
                    background-color: $activeButton;
                    color: $activeFont;
                }
            }


        }
    width: 40%;
    justify-content: space-evenly;
    margin: 30px auto;
   font-size: 3rem;
   color: black;
}
}
