@media (max-width: 450px){
    .modalContent {
        width: 370px;
        margin-top: 20%;
        padding: 5px 20px;
        .closeModal {
            font-size: 1.8rem;
        }
        .modalOption, .modalTitle {
            font-size: 1.5rem;
        }
        .instructionsText {
            width: 80%;
        }
    }

    .playArea {
        .playerInfo, .stealInfo {
            font-size: 1.8rem;
            padding: 5px;
        }
        .playerInfo {
            padding: 5px 0 10px 0;
        }
        .timeAndBagContainer {
            height: 40px;
        }
        .score {
            margin: auto;
        }
    }

    .gemGallery {
        width: 100%;
        .gemButton {
            width: 87px;
            height: 87px;
        }
        .gem {
            height: 58px;
        }
        .value, .weight {
        font-size: 1.6rem;
    }
    
    }
    
}