@media (max-width: 950px){
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }

    .titleCard {
        .socialBar {
            width: 60%;
        }
    }

    .aboutText {
        p {
            font-size: 1.5;
        }
    }

    .projectCard {
        .projectText {
            .stackTag {
                font-size: 1.3rem;
            }
            
            .projectDescription {
                font-size: 1.5rem;
            }
            .projectLinks a {
                font-size: 1.5rem;
            }
            }
    }
    
}

@media (max-width: 800px) {
    p {
        font-size: 1.5rem;
    }

    .titleCard {
        .socialBar {
            width: 80%;
        }
    }

    .skillsSelector {
        width: 90%;
        margin: auto;
    }

    .contactContainer {
        h3 {
            font-size: 2.6rem;
    }
}

.contactEmail p, .socialBar p, .contactSocial a, .contactSocial button, .contactMessage button{
            font-size: 1.5rem;
    }

    .contactSocial{
        .connectSocialBar a {
            font-size: 2rem;
        }
    }

    textarea, .messageName, .messageEmail {
        font-size: 1.4rem;
    }

}

@media (max-width: 760px) {

    header {
        .headerBG {
            .circuitBoard {
                width: 200%;
            }
        }
    }
    
    .projectCard {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .projectImage, .projectText {
        width: 80%;
    }

    .projectImage{
        margin-right: 0;
        margin-bottom: 30px;
    }
    }

    .projects section:nth-child(2n) .projectCard {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
    .contactSocial, .contactMessage {
        width: 100%;
    }
    .contactSocial {
        margin-right: 0;
    }
}

@media (max-width: 550px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    section {
        padding: 10px;
    }

    .wrapper {
        width: 90%;
    }

    .titleCard {
        .socialBar {
            width: 100%;
        }
    }

    .toggleMenu {
        display: inline-block;
    }

    .mobileNav {
        transform: translateY(0%);
    }
    nav {
        transform: translateY(-100%);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        ul {
            height: 70%;
            -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

            li {
                a{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    &:hover, &:focus{
                        background-color:$normalButton;
                        color: $activeButton;
                    }
                }
                
            }
        }
    }

    .skillChoice{
        width: 25%;
        button {
            width: 100%;
        }
    }

    .skill {
        width: 90px;
        margin: 7px 5px;
    }

    .projectsContainer {
        padding: 20px;
    }

    .projectCard {
        .projectImage, .projectText {
            width: 100%;
        }
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem
    }

    .skillChoice{
        width: 25%;
        button {
            width: 100%;
            padding: 8px 4px;
            font-size: 1.4rem;
        }
    }
}