@media (max-width: 950px){

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
    }
    

    .landingLowerHalf{
        .socialBar {

            margin: 15px 0;
        }
    }

    .aboutText {
        p {
            font-size: 1.5;
        }
    }

    .projectCard {
        .projectText {
            .stackTag {
                font-size: 1.3rem;
            }
            
            .projectDescription {
                font-size: 1.5rem;
            }
            .projectLinks a {
                font-size: 1.5rem;
            }
            }
    }
    
}

@media (max-width: 800px) {
.contacContainer {
    h3 {
        font-size: 1.6rem;
    }
}

.contactEmail p, .socialBar p, .contactSocial a, .contactSocial button, .contactMessage button{
            font-size: 1.5rem;
    }

    .contactSocial{
        .connectSocialBar a {
            font-size: 2rem;
        }
    }

    textarea, .messageName, .messageEmail {
        font-size: 1.4rem;
    }

}

@media (max-width: 710px) {
    
}

@media (max-width: 550px) {

    .hide {
        display: none;
    }
    .toggleMenu {
        display: inline-block;
    }

    .mobileNav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        ul {
            height: 70%;
            -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

            li {
                a{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    &:hover, &:focus{
                        background-color:$normalButton;
                        color: $activeButton;
                    }
                }
                
            }
        }
    }
    nav {
        display: none;
    }
}