.projects {
    section:first-of-type {
        margin-top: 0;
    }
    section:last-of-type {
        margin-bottom: 0;
    }
}

.projectsContainer {
    margin: 60px auto;
    padding: 50px 40px;
    h3 {
        font-size: 2.6rem;
        margin-bottom: 30px;
    }
}

.projectCard {
    margin: 10px 0;
    height: 232px;
    .projectText, .projectImage {
        width: calc(50% - 10px);
        height: 100%;
    }
    .projectImage {
        margin-right: 20px;
    }
    .projectText {
        justify-content: space-around;
        h3, p{
            text-align: center;
        }
        p a {
            font-weight: 700;
            text-decoration: underline;
        }

        .projectDescription {
            margin: 10px 0px;
        }
        .liveLink, .repoLink {
            padding: 10px 15px;
            margin: 10px;
            background-color: $normalButton;
            color: $normalFont;
            font-size: 1.7rem;
            border-radius: 5px;
            transition: all 0.3s;
            &:hover, &:focus {
                background-color: $activeButton;
                color: $activeFont;
            }
        }
        .stackTag {
            padding: 5px;
            background-color: $activeButton;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 1.5rem;
            font-family: $primaryFont;
        }

    }
}