.skillsContainer {
    padding: 30px 5px;
}

.skillsSelector {
    margin-top: 20px;
    width: 100%;
}

.skillChoice {
    button {
        width: 100px;
        padding: 10px;
        font-family: $primaryFont;
        font-size: 1.5rem;
        background-color: $normalButton;
        color: $normalFont;
        transition: all 0.3s;
        &:hover, &:focus {
            color: $activeFont;
            background-color: $activeButton;
    }
    }
}


.skill {
    width: 100px;
    margin: 10px 0;
    left: 50%;
    margin-left: 50px;
    .iconHolder {
        width: 50px;
        height: 60px;
        margin-bottom: 10px;
        img {
            max-height: 100%;
        }
        i {
            font-size: 6rem;
        }
    }
    p {
        font-size: 1.5rem;
        height: 45px;
        text-align: center;
    }
}