$bgColour: #CBDDEF;
$sectionBG: #fefefe;
$accent: #F0816A; 
$normalButton: #26304A;

$normalFont: white;
$activeButton: #F59C8A;

$activeFont: black;

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;