html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  outline: 1px red solid !important;
  visibility: visible !important;
}

html {
  background-color: #CBDDEF;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: #26304A #fcfcfc;
}

body, html {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:visited {
  color: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  font-weight: 100;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 55px;
}

h3 {
  font-size: 1.85rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

section {
  background-color: #fefefe;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
}

.angledDivider {
  width: 100%;
  height: 10vw;
  background-color: #A0C9F3;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.angledDivider:nth-child(even) {
  background-color: #CBDDEF;
}

.contentContainer {
  position: relative;
  padding: 0;
  padding-bottom: 30px;
  width: 100%;
}

.contentContainer:nth-child(even) {
  background-color: #A0C9F3;
}

.contentContainer:nth-child(even) h2 {
  color: black;
}

.contentContainer:nth-child(even) .angledDivider {
  background-color: #CBDDEF;
}

.aboutMeContainer, .projectsContainer, .skillsContainer, .contactContainer {
  padding: 30px 40px;
  margin: 0 auto;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexWrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.textHighlight {
  font-weight: 700;
}

.toUpper {
  text-transform: uppercase;
}

@-webkit-keyframes circuitRun {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circuitRun {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header {
  height: 100vh;
  position: relative;
}

header .headerBG {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header .headerBG:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 145, 230, 0.767)), to(#CBDDEF));
  background: linear-gradient(to bottom, rgba(60, 145, 230, 0.767) 0%, #CBDDEF 100%);
  z-index: 1;
}

header .headerBG .circuitBoard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  -webkit-animation: circuitRun 40s linear infinite;
          animation: circuitRun 40s linear infinite;
}

header .headerBG .circuitBoard img {
  max-height: 500%;
  height: 200%;
  max-width: 500%;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #26304A;
  top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.88, -0.36, 0.11, 0.9);
  transition: all 0.3s cubic-bezier(0.88, -0.36, 0.11, 0.9);
}

nav ul li {
  height: 100%;
}

nav ul li a {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
  padding: 10px 20px;
  font-size: 2.4rem;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #F59C8A;
  color: black;
}

.toggleMenu {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.toggleMenu i {
  font-size: 5rem;
  color: white;
}

.titleCard {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0.738683)), to(rgba(60, 145, 230, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.738683) 50%, rgba(60, 145, 230, 0) 100%);
  max-width: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titleCard h2 {
  padding-top: 0;
  margin-top: 20px;
  font-weight: 500;
}

.titleCard .scrollDown {
  width: 45px;
  height: 54px;
  position: relative;
  font-size: 3.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #26304A;
  border-radius: 20px;
}

.titleCard .scrollDown:hover, .titleCard .scrollDown:focus {
  color: #F0816A;
}

@-webkit-keyframes bounce {
  40% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
  80% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@keyframes bounce {
  40% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
  80% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

.titleCard .scrollDown i {
  -webkit-animation: bounce 1.55s cubic-bezier(0.49, -0.26, 0.5, 0.86) infinite;
          animation: bounce 1.55s cubic-bezier(0.49, -0.26, 0.5, 0.86) infinite;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -14px;
  margin-top: -16px;
}

.titleCard .socialBar {
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px;
  font-size: 3rem;
  color: black;
}

.titleCard .socialBar li {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  overflow: hidden;
}

.titleCard .socialBar li a {
  background-color: #26304A;
  width: 100%;
  height: 100%;
  font-size: 1.9rem;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.titleCard .socialBar li a:hover, .titleCard .socialBar li a:focus {
  background-color: #F59C8A;
  color: black;
}

.aboutMeContainer {
  max-width: 519px;
}

.aboutMeContainer .aboutMeImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.aboutMeContainer h2 {
  margin-bottom: 5px;
}

.aboutMeContainer p {
  text-align: left;
  margin: 10px 0;
}

.aboutMeContainer .textHighlight a {
  text-decoration: underline;
}

.projects section:first-of-type {
  margin-top: 0;
}

.projects section:last-of-type {
  margin-bottom: 0;
}

.projects section:nth-child(even) .projectCard {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.projectsContainer {
  margin: 60px auto;
  padding: 50px 40px;
}

.projectsContainer h3 {
  font-size: 2.6rem;
  margin-bottom: 30px;
}

.projectCard {
  margin: 10px 0;
  height: 232px;
}

.projectCard .projectText, .projectCard .projectImage {
  width: calc(50% - 10px);
  height: 100%;
}

.projectCard .projectImage {
  margin-right: 20px;
}

.projectCard .projectText {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projectCard .projectText h3, .projectCard .projectText p {
  text-align: center;
}

.projectCard .projectText p a {
  font-weight: 700;
  text-decoration: underline;
}

.projectCard .projectText .projectDescription {
  margin: 10px 0px;
}

.projectCard .projectText .liveLink, .projectCard .projectText .repoLink {
  padding: 10px 15px;
  margin: 10px;
  background-color: #26304A;
  color: white;
  font-size: 1.7rem;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.projectCard .projectText .liveLink:hover, .projectCard .projectText .liveLink:focus, .projectCard .projectText .repoLink:hover, .projectCard .projectText .repoLink:focus {
  background-color: #F59C8A;
  color: black;
}

.projectCard .projectText .stackTag {
  padding: 5px;
  background-color: #F59C8A;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.skillsContainer {
  overflow: hidden;
  max-width: 700px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 42.5px;
}

.skillsSelector {
  margin-top: 30px;
  width: 100%;
}

.skillsSelector .first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skillsSelector .last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.skillChoice button {
  width: 100px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #26304A;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.skillChoice button:hover, .skillChoice button:focus {
  color: black;
  background-color: #F59C8A;
}

.skill {
  width: 100px;
  margin: 10px 6px;
}

.skill .iconHolder {
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
}

.skill .iconHolder img {
  max-height: 100%;
}

.skill .iconHolder i {
  font-size: 6rem;
}

.skill p {
  font-size: 1.5rem;
  height: 45px;
  text-align: center;
}

.contactContainer {
  padding: 0;
}

.contactSocial, .contactMessage {
  margin-bottom: 30px;
  width: calc(50% - 15px);
  height: 412px;
}

.contactSocial h3, .contactMessage h3 {
  text-align: center;
  font-weight: 400;
  font-size: 2.7rem;
}

.contactSocial button, .contactSocial a, .contactMessage button, .contactMessage a {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
}

.contactSocial a, .contactBooking a, .copyEmail, .sendMessage {
  padding: 10px 15px;
  margin: 10px;
  background-color: #26304A;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.contactSocial a:hover, .contactSocial a:focus, .contactBooking a:hover, .contactBooking a:focus, .copyEmail:hover, .copyEmail:focus, .sendMessage:hover, .sendMessage:focus {
  background-color: #F59C8A;
  color: black;
}

.copyEmail {
  width: 40px;
  height: 40px;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.contactSocial {
  margin-right: 30px;
}

.contactSocial h3 {
  margin-bottom: 10px;
}

.contactSocial .contactEmail {
  margin-bottom: 10px;
}

.contactSocial .contactEmail p {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ebebeb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contactSocial .connectSocialBar a {
  padding: 13px;
  font-size: 2.5rem;
  border-radius: 50%;
}

.contactSocial .contactBooking {
  margin: 30px;
}

.contactSocial .contactBooking i {
  margin-left: 10px;
}

textarea, .messageName, .messageEmail {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1.6rem;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #26304A;
  resize: none;
  overflow: auto;
}

textarea {
  height: 130px;
}

.contactMessage ul {
  width: 90%;
}

.contactMessage li {
  width: 100%;
}

.contactMessage h3 {
  margin-bottom: 15px;
}

footer {
  background-color: #26304A;
  color: white;
  padding: 15px;
  font-size: 1.6rem;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer p + a {
  padding: 10px 20px;
  margin: 10px;
  background-color: #F59C8A;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

footer p + a:hover, footer p + a:focus {
  background-color: #26304A;
  color: white;
}

@media (max-width: 950px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .titleCard .socialBar {
    width: 60%;
  }
  .aboutText p {
    font-size: 1.5;
  }
  .projectCard .projectText .stackTag {
    font-size: 1.3rem;
  }
  .projectCard .projectText .projectDescription {
    font-size: 1.5rem;
  }
  .projectCard .projectText .projectLinks a {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  p {
    font-size: 1.5rem;
  }
  .titleCard .socialBar {
    width: 80%;
  }
  .skillsSelector {
    width: 90%;
    margin: auto;
  }
  .contactContainer h3 {
    font-size: 2.6rem;
  }
  .contactEmail p, .socialBar p, .contactSocial a, .contactSocial button, .contactMessage button {
    font-size: 1.5rem;
  }
  .contactSocial .connectSocialBar a {
    font-size: 2rem;
  }
  textarea, .messageName, .messageEmail {
    font-size: 1.4rem;
  }
}

@media (max-width: 760px) {
  header .headerBG .circuitBoard {
    width: 200%;
  }
  .projectCard {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .projectCard .projectImage, .projectCard .projectText {
    width: 80%;
  }
  .projectCard .projectImage {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .projects section:nth-child(2n) .projectCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contactSocial, .contactMessage {
    width: 100%;
  }
  .contactSocial {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  section {
    padding: 10px;
  }
  .wrapper {
    width: 90%;
  }
  .titleCard .socialBar {
    width: 100%;
  }
  .toggleMenu {
    display: inline-block;
  }
  .mobileNav {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  nav {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  nav ul {
    height: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  nav ul li a:hover, nav ul li a:focus {
    background-color: #26304A;
    color: #F59C8A;
  }
  .skillChoice {
    width: 25%;
  }
  .skillChoice button {
    width: 100%;
  }
  .skill {
    width: 90px;
    margin: 7px 5px;
  }
  .projectsContainer {
    padding: 20px;
  }
  .projectCard .projectImage, .projectCard .projectText {
    width: 100%;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .skillChoice {
    width: 25%;
  }
  .skillChoice button {
    width: 100%;
    padding: 8px 4px;
    font-size: 1.4rem;
  }
}
