html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  background-color: #CBDDEF;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:visited {
  color: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 1.85rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

section {
  background-color: #fefefe;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
}

.contentContainer {
  padding-top: 70px;
}

.aboutMeContainer, .projectsContainer, .skillsContainer, .contactContainer {
  padding: 30px 40px;
  margin: 60px auto;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexWrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.textHighlight {
  font-weight: 700;
}

.toUpper {
  text-transform: uppercase;
}

header {
  height: 40vh;
  background: radial-gradient(circle, rgba(38, 48, 74, 0.428992) 0%, #26304a 100%), url("../assets/markus-spiske-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

header nav {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: black;
}

header nav ul li {
  height: 100%;
}

header nav ul li a {
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
  padding: 10px 20px;
  font-size: 2.4rem;
}

header nav ul li a:hover, header nav ul li a:focus {
  background-color: #F59C8A;
  color: black;
}

header .landingUpperHalf {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header .aboutMeImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  bottom: 0;
  margin-bottom: -75px;
}

.landingDivider {
  width: 100%;
  height: 60vh;
  padding-top: 100px;
}

.landingLowerHalf {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landingLowerHalf h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 100;
}

.landingLowerHalf h2 {
  margin-top: 20px;
}

.landingLowerHalf .scrollDown {
  font-size: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.landingLowerHalf .scrollDown:hover, .landingLowerHalf .scrollDown:focus {
  scale: 1.2;
  color: #F0816A;
}

.landingLowerHalf .socialBar {
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px auto;
  font-size: 3rem;
  color: black;
}

.landingLowerHalf .socialBar li {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  overflow: hidden;
}

.landingLowerHalf .socialBar li a {
  background-color: #26304A;
  width: 100%;
  height: 100%;
  font-size: 1.9rem;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.landingLowerHalf .socialBar li a:hover, .landingLowerHalf .socialBar li a:focus {
  background-color: #F59C8A;
  color: black;
}

.aboutMeContainer {
  max-width: 800px;
}

.aboutMeContainer h2 {
  margin-bottom: 5px;
}

.aboutMeContainer p {
  text-align: left;
  margin: 10px 0;
}

.projectsContainer {
  padding: 50px 40px;
}

.projectsContainer h3 {
  font-size: 2.3rem;
  margin-bottom: 30px;
}

.projectCard {
  margin: 10px 0;
  height: 232px;
}

.projectCard .projectText, .projectCard .projectImage {
  width: calc(50% - 10px);
  height: 100%;
}

.projectCard .projectImage {
  margin-right: 20px;
}

.projectCard .projectText {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projectCard .projectText h3, .projectCard .projectText p {
  text-align: center;
}

.projectCard .projectText p a {
  font-weight: 700;
  text-decoration: underline;
}

.projectCard .projectText .projectDescription {
  margin: 10px 0px;
}

.projectCard .projectText .liveLink, .projectCard .projectText .repoLink {
  padding: 10px;
  margin: 10px;
  background-color: #26304A;
  color: white;
  font-size: 1.7rem;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.projectCard .projectText .liveLink:hover, .projectCard .projectText .liveLink:focus, .projectCard .projectText .repoLink:hover, .projectCard .projectText .repoLink:focus {
  background-color: #F59C8A;
  color: black;
}

.projectCard .projectText .stackTag {
  padding: 5px;
  background-color: #F59C8A;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.skillsGallery {
  position: relative;
}

.skillsSelector {
  margin-top: 30px;
  width: 100%;
}

.skillsSelector .first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skillsSelector .last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.skillChoice button {
  width: 100px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  background-color: #26304A;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.skillChoice button:hover, .skillChoice button:focus {
  color: black;
  background-color: #F59C8A;
}

.skill {
  width: 100px;
  margin: 10px 5px;
  margin-left: 55px;
}

.skill .iconHolder {
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
}

.skill .iconHolder img {
  max-height: 100%;
}

.skill .iconHolder i {
  font-size: 6rem;
}

.skill p {
  font-size: 1.5rem;
  height: 45px;
  text-align: center;
}

.contactContainer h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
}

.contactMessage, .contactSocial {
  width: calc(50% - 5px);
}

.contactMessage button, .contactMessage a, .contactSocial button, .contactSocial a {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
}

.contactSocial a, .contactBooking a, .copyEmail, .sendMessage {
  padding: 10px;
  margin: 10px;
  background-color: #26304A;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.contactSocial a:hover, .contactSocial a:focus, .contactBooking a:hover, .contactBooking a:focus, .copyEmail:hover, .copyEmail:focus, .sendMessage:hover, .sendMessage:focus {
  background-color: #F59C8A;
  color: black;
}

.copyEmail {
  width: 40px;
  height: 40px;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.contactSocial {
  margin-right: 10px;
}

.contactSocial h3 {
  margin-bottom: 10px;
}

.contactSocial .contactEmail {
  margin-bottom: 10px;
}

.contactSocial .contactEmail p {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ebebeb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contactSocial .connectSocialBar a {
  padding: 13px;
  font-size: 2.5rem;
  border-radius: 50%;
}

.contactSocial .contactBooking {
  margin: 30px;
}

.contactSocial .contactBooking i {
  margin-left: 10px;
}

textarea, .messageName, .messageEmail {
  font-size: 1.6rem;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #26304A;
  resize: none;
  overflow: auto;
}

textarea {
  height: 130px;
}

.contactMessage li {
  width: 100%;
}

.contactMessage h3 {
  margin-bottom: 15px;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 1.6rem;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer p + a {
  padding: 10px 20px;
  margin: 10px;
  background-color: #F59C8A;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

footer p + a:hover, footer p + a:focus {
  background-color: #26304A;
  color: white;
}

@media (max-width: 950px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .landingLowerHalf .socialBar {
    margin: 15px 0;
  }
  .aboutText p {
    font-size: 1.5;
  }
  .projectCard .projectText .stackTag {
    font-size: 1.3rem;
  }
  .projectCard .projectText .projectDescription {
    font-size: 1.5rem;
  }
  .projectCard .projectText .projectLinks a {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .contacContainer h3 {
    font-size: 1.6rem;
  }
  .contactEmail p, .socialBar p, .contactSocial a, .contactSocial button, .contactMessage button {
    font-size: 1.5rem;
  }
  .contactSocial .connectSocialBar a {
    font-size: 2rem;
  }
  textarea, .messageName, .messageEmail {
    font-size: 1.4rem;
  }
}
